  body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            text-align: center;
        }
		.header {
    background-image: url('../img/fondaccueil.jpg') ;
    background-size: cover; /* Ajuste la taille de l'image pour couvrir complètement l'élément */
    background-position: center; /* Centre l'image à l'intérieur de l'élément */
}

        

        .custom-button {
            width: 150px;
            height: 50px;
            background-color: #007bff;
            color: #fff;
            border: none;
            border-radius: 5px;
            font-size: 18px;
            font-family: Lobster;
            cursor: pointer;
        }

        .custom-button:hover {
            background-color: #0056b3;
        }

        .title {
            font-size: 50px;
            margin-bottom: 10px;

        }

        .title2 {
            font-size: 50px;
            margin-bottom: 10px;
          
        }
		
		label{
		position:relative;
}

label input{
    font-size:1em;
	color:black;
	border:5px;
    border-radius:5px;
	padding: 1rem 1.2rem;
	width :50%;
	transition: all 0.2s;
	
}
label input:focus{
   border-color:#ff4754; 
   }
  
label .password-icon{
  display:flex;
  align-items:center;
  position:absolute;
  top: -50%;
  transform:tranlateY(-50%);
  width =20px;
  color: black; 
  transition: all 0.2s;
  right :20px;}
  
  
  label .password-icon .feather-eye-off{
  display:none;
  }
  label .password-icon:hover{
  cursor:pointer;
  color: red;
  }
       


        #Saisie {
            width: 50%;
            height: 40px;
            font-size: 40px;
        }

        .special-case {
			
            position: relative;
        }

        .special-case::before {
            content: "";
            position: absolute;
            top: 5px;
            left: 5px;
            width: 10px;
            height: 10px;
            /* Ajoutez des styles CSS pour le pseudo-élément ::before si nécessaire */
        }
		
		
		.menu-link {
        text-decoration: none; /* Supprimer le soulignement par défaut des liens */
        color: white; /* Couleur du texte non survolé */
        transition: color 0.3s; /* Animation de transition pour la couleur */
    }

    .menu-link:hover {
        color: red; /* Couleur du texte lors du survol */
    }
	
	.commentaires{
		text-align : left;
		font-style :italic;
	}
		