    
<table width="100%" >
    <tr>
    <td width ="25%"
    height="60%"
  >
  <img src="{{url_for('static',filename = 'img/LogoSite.png')}}" width ="40%" align ="left">
  </td>
  <td>
  <a href="{{url_for('welcome')}}"><font size ="5" face="Cooper Black" color =" white" class="menu-link">Accueil</font></a> 
  </td>
  <td>
  <a href="{{url_for('tester')}}"><font size ="5" face="Cooper Black" color ="white" class="menu-link">Testeur_mdp</font></a>
  </td>
   <td width = "18%">
   <a href="{{url_for('mdp_maker')}}"><font size ="5" face="Cooper Black" color ="white"class="menu-link">Generateur_mdp</font></a>
  </td>
   <td>
  <a href="{{url_for('faq')}}"><font size ="5" face="Cooper Black"color ="white" class="menu-link">FAQ</font></a>
  </td>
  <td>
                <div id="google_translate_element"></div>
                <script type="text/javascript">
                    function googleTranslateElementInit() {
                        new google.translate.TranslateElement({ pageLanguage: 'fr', includedLanguages: 'en,fr', layout: google.translate.TranslateElement.InlineLayout.SIMPLE }, 'google_translate_element');
                    }
                </script>
                <script type="text/javascript" src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
    </td>
</tr>
</table>
  {%block content%}{%endblock%}