
<!DOCTYPE html>
<html>
<head>
    <title>Testeur - TPassword</title>
	<link rel ="stylesheet" type="text/css" href ="{{url_for('static',filename = 'css/tpasswordstyles.css')}}">
	
</head>
<body>
     <a name="haut">
    <div class="header" >

{% extends "base.html" %}

{%block content%}

<table>	
            <tr>
               <td width ="25%"></td> 

			
		   
				<td class="special-case" colspan="4" align="center" width ="50%" >
                    <h2>Veuillez vérifier la sécurité de votre mot de passe.</h2>
                    <font size="5" face="bradley hand ITC" align="justify"><b>
					<p>Un mot de passe est considéré comme non sécurisé s'il peut
                        être découvert par une attaque de force brute ou s'il se
                        trouve dans une base de données de mots de passe ayant été compromise.
                        Il est essentiel de souligner que nous n'effectuons aucune
                        collecte ni conservation de vos mots de passe. Pour plus
                        d'informations, veuillez consulter notre <a href="{{url_for('faq')}}">FAQ<b></a></p>.
                    </font>
                </td>
				<td width ="25%" height="25%"></td>
            </tr>
		</table>	
        <FORM method="POST">
		<center>
            <h1> <b>Saisie du Mot de Passe  </b><br>  </h1>
                <img width="50" height="50" src= "{{url_for('static',filename = 'img/doigt.gif')}}">
                <br>
                <label>
                <input type="password" id="mdp" name="mdp" placeholder="Mot de passe"  >
				 <div class="password-icon">
				   <i data-feather="eye"></i>
				    <i data-feather="eye-off"></i>
				 </div>
				</label>
				<script src ="https://unpkg.com/feather-icons">
				</script>
				<script>
				    feather.replace(); 
			    </script>
				<br><br>
            <div align="center" >
			    
                <input type="submit" value="Tester" class="custom-button">
				<br><br> <br>
			<font color = "white" size = "4">
			{%if s%}
            	<a>Votre mot de passe se crack en : {{a}}, an(s) {{m}} mois, {{j}} jours, {{h}} heure, {{min}} minutes, {{s}} secondes</a>
        	{%endif%}

        	{%if msg%}
            	<a>Attention votre mot de passe est dans une base de données qui à fuité</a>
        	{%endif%}
			</font>
            </div>
            </center>
        </FORM>
		<br>
		<br>
		<br>
    </div>
	<script src="{{url_for('static',filename = 'js/tpassword.js')}}"></script>
	<div align ="center">
		<br><img src="{{url_for('static',filename = 'img/DelaiMDP2.png')}}" alt="Image de delai de crack" height= "250" width ="1100">
		<h1 class="title2"> Dans le domaine des mots de passes il existe plusieurs types d'attaque dont-on doit se protèger :</h1>
	</div>
<hr color="white" size="2" width ="50%">
			<h1 class="title2" align ="center"><u>Attaque par hameçonnage :</u></h1>
	<div class="commentaires">
		<p>Une attaque par hameçonnage, également connue sous le nom de phishing, est une technique de cybercriminalité où des individus malveillants
		tentent de duper les utilisateurs en se faisant passer pour des entités de confiance, telles que des entreprises, des institutions financières
		ou des organisations gouvernementales. Ils envoient souvent des e-mails ou des messages frauduleux contenant des liens ou des pièces jointes malveillants,
		dans le but de voler des informations sensibles, telles que des identifiants, des mots de passe, des informations bancaires ou personnelles.
		L'objectif principal est de tromper les victimes pour qu'elles révèlent involontairement leurs données confidentielles,
		qui peuvent ensuite être utilisées à des fins frauduleuses.
		</p>
	</div>
	<div align ="center">
		<img src="{{url_for('static',filename = 'img/Hameconnage.png')}}" alt="Image de schema attaque hameconnage" width="900" height="250"><br><br>
	</div>
		<hr color="black" size="2" width ="50%">
			<h1 class ="title2"  align ="center" ><u>Attaque par force brute :</u></h1>
	<div class="commentaires">
		<p>Une attaque par force brute est une méthode de piratage informatique où un attaquant tente de deviner un mot de passe ou une clé d'authentification
		en essayant de multiples combinaisons possibles, en commençant généralement par les plus courantes. Cette approche est souvent utilisée pour accéder illégalement
		à des comptes protégés en testant systématiquement différentes combinaisons jusqu'à ce que la bonne soit trouvée. Elle peut être très chronophage,
		mais si un mot de passe est faible ou prévisible, cette méthode peut réussir.
		</p>
	</div>
	<div align ="center">
		<img src="{{url_for('static',filename = 'img/ForceBrute.png')}}" alt="Image de schema attaque hameconnage" width="900" height="350"><br><br>
	</div>
		<hr color="black" size="2" width ="50%">
			<h1 class="title2"  align ="center"><u>Attaque par intercepteur :</u></h1>
	<div class="commentaires">
		<p>Une attaque par intercepteur, aussi appelée attaque de l'homme du milieu (Man-in-the-Middle en anglais),
		est une méthode de cyberattaque où un attaquant s'insère de manière secrète entre deux parties qui communiquent,
		intercepte leurs échanges de données et peut même les altérer sans que les parties légitimes en aient conscience.
		Cela permet à l'attaquant de voler des informations confidentielles, d'injecter des logiciels malveillants ou de manipuler la communication
		entre les deux parties pour servir ses intérêts malveillants. C'est une menace sérieuse pour la confidentialité et la sécurité des données.
		</p>
	</div>
	<div align ="center">
		<img src="{{url_for('static',filename = 'img/Intercepteur.png')}}" alt="Image de schema attaque intercepteur" width="900" height="350"><br><br>
	</div>
	<hr color="black" size="2" width ="50%">
			<h1 class="title2" align ="center"><u>Attaque par dictionnaire :</u></h1>
	<div class="commentaires">
		<p>Une attaque par dictionnaire est une technique de piratage informatique où un attaquant essaie de deviner un mot de passe en utilisant
		une liste prédéfinie de mots ou de combinaisons de mots couramment utilisés, appelée "dictionnaire". Cette méthode est utilisée pour essayer rapidement
		de nombreuses possibilités et peut être efficace si le mot de passe est faible ou basé sur des mots communs. Elle diffère de l'attaque par force brute,
		qui teste toutes les combinaisons possibles, en se concentrant sur des mots du dictionnaire pour gagner du temps.
		</p>
	</div>
	<div align ="center">
		<img src="{{url_for('static',filename = 'img/Dictionnaire.png')}}" alt="Image de schema attaque dictionnaire" width="950" height="250"><br><br>
	</div>
		<hr color="black" size="2" width ="50%">
			<h1 class="title2"  align ="center"><u>Attaque par bourrage d'identifiants :</u></h1>
	<div class="commentaires">
		<p>Une attaque par bourrages d'identifiants, aussi connue sous le nom d'attaque par bourrage de mots de passe,
		est une méthode de piratage où un attaquant tente de se connecter à un compte en ligne en essayant de multiples combinaisons de noms d'utilisateur et de mots de passe.
		Cette attaque exploite généralement des listes de noms d'utilisateur et de mots de passe volés ou présumés, dans l'espoir de trouver des combinaisons valides pour accéder
		aux comptes. Elle est efficace lorsque les utilisateurs réutilisent fréquemment les mêmes identifiants ou utilisent des mots de passe faibles.
		</p>
	</div>
	<div align ="center">
		<img src="{{url_for('static',filename = 'img/BourrageIdentifiant.png')}}" alt="Image de schema attaque bourrage identifiants" width="700" height="250"><br><br>
	</div>
	<hr color="white" size="2" width ="50%">
			<h1 class="title2"  align ="center"><u>Attaque par enregistreurs de frappe :</u></h1>
	<div class="commentaires">
		<p>Une attaque par enregistreur de frappe, ou "keylogger", est une méthode de cyberattaque où un logiciel malveillant est installé
		sur un ordinateur ou un appareil pour enregistrer discrètement chaque touche tapée par l'utilisateur. Cela permet à l'attaquant de collecter
		des informations sensibles telles que des mots de passe, des identifiants, des numéros de carte de crédit et d'autres données confidentielles.
		Les keyloggers peuvent être utilisés pour voler des informations personnelles à des fins malveillantes, compromettre la sécurité des utilisateurs
		et accéder illégalement à des comptes en ligne.
		</p>
	</div>
	<div align ="center">
		<img src="{{url_for('static',filename = 'img/EnregistreurFrappe.png')}}" alt="Image de schema attaque enregistreur de frappe" width="900" height="400"><br><br>
	</div>
	

	<table align ="center">
	<tr>
	<td><img src ="{{url_for('static',filename = 'img/Retourtesteur.gif')}}" height="100"></td>
	<td><a href="#haut">
	<font size ="9"><i>Retourner au testeur</i></font>
	</td></a>
	<tr>
   </table>  
</body>
</html>

{%endblock%}
